<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
Login page
<form action="/login" method="post">
    <div><label>User Name:</label><input type="text" name="username"></div>
    <div><label>Password:</label><input type="text" name="password"></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="submit" value="Sign In"></div>
</form>
<a href="/registration">Add new user</a>
</body>
</html>